@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1 align="center">WELCOME TO OUR HOSTEL</h1> 
    <p align="center"><i>We do our utmost to leave only the best impressions after your stay at our hostel!</i></p>
    <p align="center"><img src="@Url.Content("~/Content/Images/img1.jpg")" /></p>

</div>
